

.container {
  display: block;
  margin: 100px auto;
  width: 300px;
  height: 200px;
  border: 1px solid #888;
}

h2 {
  text-align: center;
}

.container div {
  margin: 30px auto;
  text-align: center;
}

button {
  background: none;
  border: 1px solid #888;
  font-size: 30px;
  text-align: center;
  color: #888;
  width: 35px;
  height: 35px;
  margin: auto;
  box-sizing: border-box;
  vertical-align: baseline;
}

span {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 35px;
  line-height: 35px;
  color: #888;
}
